[submodule "knowledge_base/awesome_utils"]
	path = knowledge_base/awesome_utils
	url = git@github.com:swl017/awesome_utils.git
[submodule "lm_remote"]
	path = lm_remote
	url = git@github.com:usrg-drone/prompts.git
[submodule "transformers"]
	path = transformers
	url = https://github.com/huggingface/transformers.git
[submodule "prompts"]
	path = prompts
	url = git@github.com:swl017/prompts.git
